{% extends "base.html" %} {% block content %}
<table class="table">
  <thead>
    <tr>
      <th><abbr title="Position">id</abbr></th>
      <th><abbr title="Actors Name">Actor's Name</abbr></th>
      <th><abbr title="Eye Color">Eye Color</abbr></th>
      <th><abbr title="Year of Birth">Year of Birth</abbr></th>
      <th><abbr title="Year of Birth">Mass</abbr></th>
      <th><abbr title="Year of Birth">Hair_Color</abbr></th>
      <th><abbr title="Year of Birth">Gender</abbr></th>

    </tr>
  </thead>

  <tbody>
    {% for fav_char in fav_chars %}
    <tr data-href="#" onclick="getUserInfo(this)">
      <!-- <th scope="row">{{fav_char.id}}</th> -->
      <td></td>
      <td>{{fav_char.name}}</td>
      <td>{{ fav_char.eye_color }}</td>
      <td>{{fav_char.birth_year}}</td>
      <td>{{fav_char.mass}}</td>
      <td>{{fav_char.hair_color}}</td>
      <td>{{fav_char.gender}}</td>

    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
